# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# Kubeconfig
kubeconfig
*.kubeconfig

# OS / editor
.DS_Store
.idea/
.vscode/
